<!doctype html>
<html lang="en">

<head>
	<title>Calendar 08</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/calendarStyle.css">
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</head>

<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Calendar</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="content w-100">
						<div class="calendar-container">
							<div class="calendar">
								<div class="year-header">
									<span class="left-button fa fa-chevron-left" id="prev"> </span>
									<span class="year" id="label"></span>
									<span class="right-button fa fa-chevron-right" id="next"> </span>
								</div>
								<table class="months-table w-100">
									<tbody>
										<tr class="months-row">
											<td class="month">Jan</td>
											<td class="month">Feb</td>
											<td class="month">Mar</td>
											<td class="month">Apr</td>
											<td class="month">May</td>
											<td class="month">Jun</td>
											<td class="month">Jul</td>
											<td class="month">Aug</td>
											<td class="month">Sep</td>
											<td class="month">Oct</td>
											<td class="month">Nov</td>
											<td class="month">Dec</td>
										</tr>
									</tbody>
								</table>
								<table class="days-table w-100">
									<td class="day">Sun</td>
									<td class="day">Mon</td>
									<td class="day">Tue</td>
									<td class="day">Wed</td>
									<td class="day">Thu</td>
									<td class="day">Fri</td>
									<td class="day">Sat</td>
								</table>
								<div class="frame">
									<table class="dates-table w-100">
										<tbody class="tbody">
										</tbody>
									</table>
								</div>
								<button class="add-button button" id="add-button" name="add-button">Add Clocking</button>
								<button class="add-button button" id="day-calendar-button" name="day-calendar-button">Day
									Calendar</button>
								<button class="add-button button" id="change-button" name="change-button"">Change
									Clocking</button>
							</div>
						</div>
						<div class="events-container">
							<!-- {% if time_entry_by_date != [] %}
							{% for event in time_entry_by_date %} -->
							<!-- {% if event.created_date == today %} -->
							<!-- <div>'comment:' + {{event.comment}} + ' time_entry = ' + {{event.time_entry}} + ' created on: ' + {{event.created_date}} </div>
							 {% endif %}
							 {% endfor %}
							 {% else %} <div></div>
							 {% endif %} -->

						</div>
						<div class="dialog" id="dialog">
							<h4 class="dialog-header"> Add Clocking </h4>
							<form class="form" id="form" action="/time_entry_creation" method="POST">
								<div class="form-container" align="center">
									<label class="form-label" id="valueFromMyButton" for="comment">Comments</label>
									<input class="input" type="text" id="name" name="comments" maxlength="36"><br>
									<label class="form-label" id="valueFromMyButton" for="count">HH</label>
									<input  id="hours" name="hours" type="number" max={2} min={2} style="max-width: 63px;">
									<label class="form-label" id="valueFromMyButton" for="count" >Min</label>
									<input id="minutes" name="minutes" type="number" max={2} min={2} style="max-width: 63px;">
									<br>
									<input type="button" value="Cancel" class="button" id="cancel-button"
										style="margin-top:2vw;">
									<input type="submit" value="Submit" class="button button-white" id="ok-button"
										style="margin-top:2vw;">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- <script src="../static/js/jquery.min.js"></script> -->
	<script src="../static/js/popper.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/scripts.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


</body>

</html>