<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style.css">


    <title>Clocking</title>

   
</head>
<body>
    <form>
        <button class="clockInButton button"> Clock  &nbsp In</button><br>
        <button type="submit" class="clockOutButton button" >Clock Out</button>
    </form>

</body>
</html>